In [2]:
print("Hello world")

Hello world

In [30]:
#Variable declaration
#num 
age = 24
print(f"my age is {age}")
#string
name = "jayshree"
print(f"my name is {name}")
#float
salary = 4.0
print(f"my salary is {salary}")
#list MUTABLE, CONTAIN DUPLICATE VALUE, []
tech = ["devops", "cloud", "programming", "cloud"]
print(f"I am interested in {tech[0]} engineer position")
#tuple IMMUTABLE,CONTAIN DUPLICATE VALUE ,()
skills = ("Iaac", "Configmanagement", "containerisation", "automation")
print(f"I posses {skills} these skills in my resume")
#range REPRESENT SEQUENCE NUMBER, IMMUTABLE
ex = range(0,3)
print(f"i have {ex} years of experience")
#dict KEY-VALE, MUTABLE, ACCESSED BY KEY, KEY UNIQUE
company = {"2020":"grras", "2022":"einfochips", "2023":"motadata", "2024":"looking for more"}
print(f"I have been to {company['2023']}")
#set MUTABLE, NO DUPLICATE VALUE, 
goals = ('tech', 'mba', 'job-switch')
print(f"my goals for this years is {goals}")

my age is 24
my name is jayshree
my salary is 4.0
I am interested in devops engineer position
I posses ('Iaac', 'Configmanagement', 'containerisation', 'automation') these skills in my resume
i have range(0, 3) years of experience
I have been to motadata
my goals for this years is ('tech', 'mba', 'job-switch')

In [6]:
x = list(range(1,6))
print(type(x))
print(x)

<class 'list'>
[1, 2, 3, 4, 5]

In [11]:
#print any number in between the range
import random
print(random.randrange(1,10))

5

In [10]:
a = int(2.88)
b = float(2)
c = complex(2)
print(a,b,c)

2 2.0 (2+0j)

In [79]:
# string functions
name = "jayshree acharya...   "
surname = "maurya"
print(name[2])
#length function
print(len(name))
# check function
print("jayshree" in name)
print("jay" not in name) #check function
#slicing
print(name[3:8]) #slice shree
print(name[:9]) #slice to end
print(name[0:]) #slice to start
print(name[-3:]) #slice to neg
#upper function
print(name.upper())
print(name.lower())
print(name.strip())
print(name.replace("e","i"))
print(name.replace("a","o"))
print(name.split(" "))
print(name.split("a"))
full_name = name + surname
print(full_name)
#placeholders
print(f"the name is {full_name}")
print(f"the name is {name + surname}")
print(f"my name is \"jayshree acharya\" ") #escape character
character = 'It\'s alright.'
print(character)
print(f"my name is {name} \\ {full_name}") #doble back slash 
print(f"my name is  {name} \n {surname} using new line") #new line \n 
print(f"my name is {name} \r {surname} using carriagne return here") #carriage return 
capital = name.capitalize()
print(f"the first word becomes capital:-- {capital}")
case = name.casefold()
print(f"transfer to lower case {case}")
#center
print(name.center(100))
print(name.center(100, "*"))
print(name.count("a",2,7)) 
print(name.encode())
print(name.endswith("..."))
#there are many more

y
22
True
False
shree
jayshree
jayshree acharya...

JAYSHREE ACHARYA...
jayshree acharya...
jayshree acharya...
jayshrii acharya...
joyshree ochoryo...
['jayshree', 'acharya...', '', '', '']
['j', 'yshree ', 'ch', 'ry', '...   ']
jayshree acharya...   maurya
the name is jayshree acharya...   maurya
the name is jayshree acharya...   maurya
my name is "jayshree acharya"
It's alright.
my name is jayshree acharya...    \ jayshree acharya...   maurya
my name is  jayshree acharya...
 maurya using new line
 maurya using carriagne return here
the first word becomes capital:-- Jayshree acharya...
transfer to lower case jayshree acharya...
                                       jayshree acharya...
***************************************jayshree acharya...   ***************************************
0
b'jayshree acharya...   '
False
True
False

In [80]:
#bool expression
print(bool("hello"))
print(bool(10>90))
#these are the 7 values always false in python
print(bool(False))
print(bool(None))
print(bool(0))
print(bool(""))
print(bool(()))
print(bool([]))
print(bool({}))

True
False
False
False
False
False
False
False
False

In [97]:
#arithmetic
num1 = 34
num2 = 23
num3 = 23
l = ['a', 'b','c']
add = (num1+num2)
print(add)
print(num1-num2)
print(num1*num2)
print(num1/num2)
print(num1//num2)
print(num1%num2)
print(num1**num2)
#and and or 
print(num1 > 20 and num2 > 20)
print(num1 > 20 or num2 > 30)
print(num1 is num2)
print(num2 is num3)
print(num1 is not num3)
print(l in l)
print(l not in l)
print((a+b) - (a-b))
print(a+b*c)

57
11
782
1.4782608695652173
1
11
167500108222301408246337399112597504
True
True
False
True
True
False
True
4.0
(6+0j)
(2+0j)

In [128]:
#LIST
skills = ["container", "cloud", "scripting", "automation", "cloud"]
print(len(skills)) #to get length
print(skills[2]) #access
print(skills) #duplicate value
print(skills[-2])
print(skills[:2])
skills[1] = "iaac" #change one
print(skills) #change list
skills[2:] = ["devops"] #change whole
print(skills)
skills.insert(0, "kubernetes")
print(skills)
skills.append("cloudformation")
print(skills)
skills.extend(["programming", "python", "go"])
print(skills)
addtupple = ('linux', 'server-config')
skills.extend(addtupple)
print(skills)
skills.remove("go")
print(skills)
skills.pop(-1)
print(skills)
print(skills.pop())
del skills[0]
print(skills)
skills.clear()
print(skills)

5
scripting
['container', 'cloud', 'scripting', 'automation', 'cloud']
automation
['container', 'cloud']
['container', 'iaac', 'scripting', 'automation', 'cloud']
['container', 'iaac', 'devops']
['kubernetes', 'container', 'iaac', 'devops']
['kubernetes', 'container', 'iaac', 'devops', 'cloudformation']
['kubernetes', 'container', 'iaac', 'devops', 'cloudformation', 'programming', 'python', 'go']
['kubernetes', 'container', 'iaac', 'devops', 'cloudformation', 'programming', 'python', 'go', 'linux', 'server-config']
['kubernetes', 'container', 'iaac', 'devops', 'cloudformation', 'programming', 'python', 'linux', 'server-config']
['kubernetes', 'container', 'iaac', 'devops', 'cloudformation', 'programming', 'python', 'linux']
linux
['container', 'iaac', 'devops', 'cloudformation', 'programming', 'python']
container
iaac
devops
cloudformation
programming
python
[]

In [129]:
skills = ["container", "cloud", "scripting", "automation", "cloud"]
for i in skills:
    print(i)

container
cloud
scripting
automation
cloud

In [131]:
skills = ["container", "cloud", "scripting", "automation", "cloud"]
i=0
while i <len(skills):
    print(i)
    i=i+1

0
1
2
3
4

In [132]:
#list comprehension 
#samaj nahi aaya

In [137]:
skills = ["container", "cloud", "scripting", "automation", "cloud"]
skills.sort()
print(skills)
skills.sort(reverse=True)
print(skills)

['automation', 'cloud', 'cloud', 'container', 'scripting']
['scripting', 'container', 'cloud', 'cloud', 'automation']

In [139]:
skills = ["Container", "cloud", "Scripting", "Automation", "cloud"]
skills.sort() #case-sensitive
print(skills)
skills.sort(reverse=True)
print(skills)

['Automation', 'Container', 'Scripting', 'cloud', 'cloud']
['cloud', 'cloud', 'Scripting', 'Container', 'Automation']

In [148]:
skills1 = ["Container", "cloud", "Scripting", "Automation", "cloud"]
skills2 = skills1.copy()
print(skills2)
mylist = list(skills1)
print(mylist)
skills3 = skills1 + skills2
print(skills3)
skills1.extend(skills3)
print(skills3)
ch = skills2.index("cloud")
print(ch)

['Container', 'cloud', 'Scripting', 'Automation', 'cloud']
['Container', 'cloud', 'Scripting', 'Automation', 'cloud']
['Container', 'cloud', 'Scripting', 'Automation', 'cloud', 'Container', 'cloud', 'Scripting', 'Automation', 'cloud']
['Container', 'cloud', 'Scripting', 'Automation', 'cloud', 'Container', 'cloud', 'Scripting', 'Automation', 'cloud']
1

In [163]:
#Tuple
skills = ('cloud', 'aws', 'azure', 'google', 'aws')
print(skills)
print(len(skills))
print(type(skills))
print(skills[-1])
y = list(skills)
print(y)
y.append("google")
print(tuple(y))   #same for remove 
#Unpacking a tuple: didn't get it

('cloud', 'aws', 'azure', 'google', 'aws')
5
<class 'tuple'>
aws
['cloud', 'aws', 'azure', 'google', 'aws']
('cloud', 'aws', 'azure', 'google', 'aws', 'google')

In [164]:
skills = ('cloud', 'aws', 'azure', 'google', 'aws')
for i in skills:
    print(i)

cloud
aws
azure
google
aws

In [169]:
skills = ('cloud', 'aws', 'azure', 'google', 'aws')
for i in range(len(skills)):
    print(skills[i])
    
    # skills = ('cloud', 'aws', 'azure', 'google', 'aws')
# i =0 
# while i < len(skills):
#     print(skills[i])
#     i= i+1 #infinite loop

cloud
aws
azure
google
aws

In [4]:
skills = ('cloud', 'aws', 'azure', 'google', 'aws')
programming = ('python', 'go', 'kiku')
#print(skills + programming)
x = skills.count(2)
x = skills.index('aws')
print(x)

1

In [193]:
#SET
skills = {"cloud", "aws", "azure", "google", "aws"}
gadha = {"kiki", "donkey", "hai"}
print(skills)
print(type(skills))
print("cloud" in skills)
skills.add("goo")
print(skills)
skills.update(gadha)
print(skills)
skills.remove("aws")
print(skills)
skills.discard("goo")
print(skills)
skills.pop()
print(skills)
skills.clear()
print(skills)

{'azure', 'cloud', 'aws', 'google'}
<class 'set'>
True
{'goo', 'cloud', 'aws', 'google', 'azure'}
{'donkey', 'goo', 'cloud', 'aws', 'kiki', 'google', 'azure', 'hai'}
{'donkey', 'goo', 'cloud', 'kiki', 'google', 'azure', 'hai'}
{'donkey', 'cloud', 'kiki', 'google', 'azure', 'hai'}
{'cloud', 'kiki', 'google', 'azure', 'hai'}
set()

In [6]:
skills = {"cloud", "aws", "azure", "google", "aws"}
gadha = {"kiki", "donkey", "hai"}
set3 = skills.union(gadha)
print(set3)
set3 = skills | gadha 
print(set3)
print(len(skills))
#tupple to set 
t = (("aws", "azure", "google"))
print(set(t))

{'cloud', 'azure', 'google', 'donkey', 'aws', 'kiki', 'hai'}
{'cloud', 'azure', 'google', 'donkey', 'aws', 'kiki', 'hai'}
4
{'azure', 'google', 'aws'}

In [7]:
#LOOP
skills = {"cloud", "aws", "azure", "google", "aws"}
for i in skills:
    print(i)

cloud
azure
google
aws

In [19]:
#LOOP
skills = {"cloud", "aws", "azure", "google", "aws"}
print("aws" in skills)
print("aws" not in skills)
skills.add("gcp")
print(skills)
new = {"a", "b", "c", "d"}
skills.update(new)
print(skills)
skills.update(new)
print(skills)
skills.remove("google")
print(skills)
skills.pop()
print(skills)
skills.clear()
print(skills)
for x in skills:
    print(x)

True
False
{'cloud', 'azure', 'gcp', 'google', 'aws'}
{'cloud', 'azure', 'gcp', 'd', 'a', 'b', 'google', 'c', 'aws'}
{'cloud', 'azure', 'gcp', 'd', 'a', 'b', 'google', 'c', 'aws'}
{'cloud', 'azure', 'gcp', 'd', 'a', 'b', 'c', 'aws'}
{'azure', 'gcp', 'd', 'a', 'b', 'c', 'aws'}
set()

In [27]:
#LOOP
skills = {"cloud", "aws", "azure", "google", "aws"}
new = {"a", "b", "c", "d"}
mul = {1,2,3}
c = skills.union(new, mul)
print(c)
d = skills.intersection(new)
print(d)
set3 = skills & mul
print(set3)
set4 = skills.intersection_update(new)
print(set4)

{'cloud', 1, 'azure', 2, 3, 'd', 'a', 'b', 'google', 'c', 'aws'}
set()
set()
None
set()

In [32]:
skills = {"cloud", "aws", "azure", "google", "aws", "a"}
new = {"a", "b", "c", "d", "aws"}
mul = {1,2,3}
diff = skills.difference(new)
print(diff)
minus = skills - new
print(minus)
sym = skills.symmetric_difference(new)
print(sym)
join = skills ^ new
print(join)

{'cloud', 'azure', 'google'}
{'cloud', 'azure', 'google'}
{'b', 'cloud', 'azure', 'd', 'c', 'google'}
{'b', 'cloud', 'azure', 'd', 'c', 'google'}

In [61]:
#DICTIONARY
me = {"name": "jayshree", "age":"24", "surname":"acharya"}
edu = {"2016": "ssc", "2018":"hsc", "2022":"btech", "2023":"devops"}
skills = {"cloud":"aws", "container": "k8s", "iaac":"terraform"}
print(me['name'])
print(len(me))
print(type(me))
g = me.get("age")
print(g)
k = me.keys() #returns a list in a tuple  
print(k)
v = me.values()
print(v)
i = me.items()
print(i)
u = me.update({"name":"shree"})
print(f"value of {u} is :")
me.pop("age")
print(f"the poped after result is:{me}")
me.popitem()
print(f"the popeditem after result is:{me}")
edu.clear()
print(edu)
# me["name"] = shree
# print(me)                ##DOUBT
# if "name" not in me:
#     print("yes")

jayshree
3
<class 'dict'>
24
dict_keys(['name', 'age', 'surname'])
dict_values(['jayshree', '24', 'acharya'])
dict_items([('name', 'jayshree'), ('age', '24'), ('surname', 'acharya')])
value of None is :
the poped after result is:{'name': 'shree', 'surname': 'acharya'}
the popeditem after result is:{'name': 'shree'}
{}

In [75]:
#DICTIONARY loop
me = {"name": "jayshree", "age":"24", "surname":"acharya"}
edu = {"2016": "ssc", "2018":"hsc", "2022":"btech", "2023":"devops"}
skills = {"cloud":"aws", "container": "k8s", "iaac":"terraform"}
for i in edu:
    print(edu[i])
for i in edu:
    print(f"i showins all the keys: {i}")
for i in edu.values():
    print(edu)
for i,j in edu.items():
    print(i,j)
c = edu.copy()
print(f"the copied c is: {c}")
d = dict(edu)
print(f"the copied through dict function d is: {d}")

ssc
hsc
btech
devops
i showins all the keys: 2016
i showins all the keys: 2018
i showins all the keys: 2022
i showins all the keys: 2023
{'2016': 'ssc', '2018': 'hsc', '2022': 'btech', '2023': 'devops'}
{'2016': 'ssc', '2018': 'hsc', '2022': 'btech', '2023': 'devops'}
{'2016': 'ssc', '2018': 'hsc', '2022': 'btech', '2023': 'devops'}
{'2016': 'ssc', '2018': 'hsc', '2022': 'btech', '2023': 'devops'}
2016 ssc
2018 hsc
2022 btech
2023 devops
the copied c is: {'2016': 'ssc', '2018': 'hsc', '2022': 'btech', '2023': 'devops'}
the copied through dict function d is: {'2016': 'ssc', '2018': 'hsc', '2022': 'btech', '2023': 'devops'}

In [79]:
#nested dict
me = {
    "me" : {
        "name": "jayshree",
        "surname": "acharya"
    }, 
    "skills": {
        "devops": "container",
        "cloud":"aws"
    }
}
print(me)
print(me["me"]["name"])
for i in me.items():
    print(f"value for x:{x}")

{'me': {'name': 'jayshree', 'surname': 'acharya'}, 'skills': {'devops': 'container', 'cloud': 'aws'}}
jayshree
value for x:1
value for x:1